body {font-family: arial;
text-align: center;
background: #eb6383;}


h1 {
	font-size: 34px;
	color: #fa9191;
	font-family: 'Lobster Two', cursive;
}
h1, h2, h3 {color: #fa9191;}



h4, ul {text-align: left;}

.production {width:300px; height:150px; object-fit: cover;}

.cadre {background: #ffe9c5; 
	margin: 100px; 
	padding:50px; 
	border: 5px solid ; 
	border-radius: 5px; 
	border-width: 15px ;
    border-color: #fa9191;
}

.my-btn {
	border: 3px solid white;
	border-radius: 5px;
	color: #fa9191;
	display: inline-block;
	margin: 15px;
	background: #b4f2e1;
	box-shadow: 5px 5px 10px grey;
	padding: 15px;
	text-decoration: none;
}

.my-btn:hover {
	background: pink;
	color : #b4f2e1;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffe9c5;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: #fa9191;
}

.link:hover {
  color: #fa9191;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: #fa9191;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: #fa9191;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.footer {
  background: #ffe9c5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}


.btn-success {
	border: 3px solid white;
	border-radius: 5px;
	border-color : #fa9191;
	color: #fa9191;
	display: inline-block;
	margin: 15px;
	background: #b4f2e1;
	padding: 15px;
	text-decoration: none;
}

.btn-success:hover {
	background : #fa9191 ;
	border-color: #fa9191;
}


.icons {
	font-size: 50px;
	color : #fa9191 ;
}


